/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}


:root {
  --bodyTekst: #253b56;
  --pSize: 14px;

  --primaireButton: linear-gradient(73deg, rgb(0, 51, 204), rgb(0, 91, 255));
/* transition: none 0s ease 0s  */
  --primaireButtonText: white;

  /* transition: none 0s ease 0s  */
  --secundaireButton: 2px solid rgb(0, 70, 228);
  --secundaireButtonTekst: rgb(0, 70, 228);
}


/**********************************************************************************************************/

/**********/
/* ALGEMENE STIJLEN */
/**********/

/* H1, H2, H3, H4, H5, H6, p, a */
html body {
  /* Avenir checken - kent ie niet? */
  font-family: 'Avenir', Helvetica;
  color: var(--bodyTekst);

  margin: 0;
  padding: 0;

  
}

h2 {
  font-size: 20px;
}

p {
  font-size: 14px;
}

/* component maken? */
.secundaireButton {
  font-size: 14px;
  color: var(--secundaireButtonTekst);

  border: var(--secundaireButton);
  border-radius: 20px;

  width: 220px;
  height: 40px;

  padding: 8px 20px 6px 20px;
}


section {
  padding: 32px 0;
}

main > section:nth-of-type(odd) {
  background-color: #f7f7f7;
}

/**********************************************************************************************************/

/**********/
/* NAVIGATIE / HEADER */
/**********/

header {
  position: absolute;

  margin: 0;
  padding: 0 1em;

  height: 60px;
  
  top: 0;
  left: 0;
  right: 0;

  background-color: pink;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0;
}

nav ul li:nth-of-type(2) a img {
  width: 126px;
  height: auto;
}

/* nav ul li:first-of-type select::before { */

header nav ul li:nth-of-type(1)::before {  
  content:'\2630';
}





/**********************************************************************************************************/

/**********/
/* FOOTER */
/**********/





/**********/
/* SECTION 9 - DROPDOWN */
/**********/




/**********/
/* SECTION 10 - DISCLAIMER */
/**********/




/**********************************************************************************************************/


/**********/
/* MAIN */
/**********/




/**********/
/* SECTION 1  - ACHTER FORM*/
/**********/

section:first-of-type a img {
  width: 100%;
  margin: 0;

  /* border-radius: 0 0 20% 20%; */
}


/**********/
/* SECTION 2 IN 1 - FORM */
/**********/

section section {
  background-color: pink;
  margin: 0 2em;
  padding: 8px 24px;

  transform: translatey(-2.5em);

  box-sizing: border-box;
  border-radius: 16px;
  box-shadow: 0px 4px 32px rgb(0 0 0 / 10%);
}

section section form fieldset {
  border-style: none;
}

section section form fieldset legend {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

section section form fieldset legend select {
  width: 264px;
  height: 40px;
}

section section form fieldset legend input:nth-of-type(2), section section form fieldset legend select:nth-of-type(1) {
  margin-bottom: 16px;
}

/* kies je data */
section section form fieldset legend input:nth-of-type(1), section section form fieldset legend input:nth-of-type(2) {
  height: 40px;
  /* width: 100px; */
  /* display: ; */
  /* flex-wrap: wrap; */
}


section section form fieldset legend button {
  width: 264px;
  height: 40px;

  margin: 20px 0;
}



/**********/
/* SECTION 3 - VIDEO */
/**********/




/**********/
/* SECTION 4 - SLIDER */
/**********/




/**********/
/* SECTION 5 - ARTICLES */
/**********/





/**********/
/* SECTION 6 - VIDEO TIPS */
/**********/




/**********/
/* SECTION 7 - ARTICLE NIEUWS */
/**********/



/**********/
/* SECTION 8 - VRAGEN */
/**********/